# SVN
.svn

# Maven
/target

# Gradle
/.gradle
/build

# Intellij IDEA
/build
/out

/.idea
!.idea/codeStyles
!.idea/copyright

# Eclipse
.classpath
.projects
.settings
/.apt_generated/
/.apt_generated_tests/
/.project

# Custom Tests
CustomTest.java


